section.banner
  ._container.banner__container
    .banner__wrapper
      .banner-content.background-full-height__container
        .banner-content__background.background-full-height(aria-hidden='true')
          img(src=require('@/assets/img/background-full-height.png'), alt='bg')

        h1.banner__title OVERTECH

        h2.banner__subtitle Growth is up to you

        a.banner__button.button-filled.anchor(href='#', data-goto='.about')
          span About

      .banner-media
        .banner-media__container
          img(src=require('@/assets/img/banner-media.jpg'), alt='banner')
