-
  isFooterNearSeo = false;

doctype html
html(lang='en')
  head
    include @/layout/head.pug

    title Overtech

    link(rel='stylesheet', href=require('@/styles/styles.scss'))

  body
    include @/layout/header.pug

    include @/templates/banner.pug

    include @/templates/products.pug

    include @/templates/advantages.pug

    include @/templates/about.pug

    include @/templates/services.pug

    include @/templates/contacts.pug

    //- include @/templates/seo-banner.pug

    include @/layout/footer.pug

    //- script(src=require('@/scripts/video.ts')) 
    script(src=require('./index.ts')) 
