@mixin text-heading-styles {
  margin: 0;
  word-break: break-word;
  font-family: $font-family-heading;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: normal;
  //color: var(--color-black);
}

@mixin text-heading-1 {
  @include text-heading-styles;
  line-height: 170%;
  letter-spacing: 10%;

  @include viewport-desktop {
    font-size: px-to-rem(70);
  }

  @include viewport-tablet {
    font-size: px-to-rem(56);
  }

  @include viewport-phone {
    font-size: px-to-rem(42);
  }
}

@mixin text-heading-2 {
  @include text-heading-styles;

  @include viewport-desktop {
    font-size: px-to-rem(52);
  }

  @include viewport-tablet {
    font-size: px-to-rem(44);
  }
  
  @include viewport-phone {
    font-size: px-to-rem(34);
  }
}

@mixin text-heading-3 {
  @include text-heading-styles;

  @include viewport-desktop {
    font-size: px-to-rem(36);
  }

  @include viewport-tablet {
    font-size: px-to-rem(36);
  }
  
  @include viewport-phone {
    font-size: px-to-rem(30);
  }
}

@mixin text-heading-4 {
  @include text-heading-styles;

  @include viewport-desktop {
    font-size: px-to-rem(28);
  }

  @include viewport-tablet {
    font-size: px-to-rem(28);
  }
  
  @include viewport-phone {
    font-size: px-to-rem(24);
  }
}

@mixin text-heading-5 {
  @include text-heading-4;
}

@mixin text-heading-6 {
  @include text-heading-5;
}
